#page-report_usercoursereports .course-thumbnail,
#page-report_usercoursereports .user-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#page-report_usercoursereports .user-thumbnail {
    border-radius: 50%;
}

#page-report_usercoursereports .course-link {
    font-weight: bold;
    font-size: 16px;
    color: #1a73e8;
    text-decoration: none;
}

#page-report_usercoursereports .course-link:hover {
    text-decoration: underline;
}

#page-report_usercoursereports table td {
    max-width: 400px;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field {
    display: block;
    margin-bottom: 0;
    padding-left: 3rem;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .col-form-label {
    padding-left: 15px;
    font-weight: 600;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .felement {
    width: 100%;
    padding-left: 15px;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .form-autocomplete-selection:not(:has([role="option"])) {
    display: none;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .form-autocomplete-selection:has([role="option"]) {
    display: block;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .accountstatus-select {
    display: flex;
    flex: 1 1 100%;
    gap: 12px;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-buttons {
    padding-left: 3rem;
}

#page-report_usercoursereports #report-usercoursereports-filter-area {
    position: relative;
}

#page-report_usercoursereports #report-usercoursereports-filter-area #filter-loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media (max-width: 767px) {
    #page-report_usercoursereports .report-usercoursereports-filter .filter-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0 1rem;
    }

    #page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field {
        padding-left: 0;
    }
}