#page-report_usercoursereports .course-thumbnail,
#page-report_usercoursereports .user-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#page-report_usercoursereports .user-thumbnail {
    border-radius: 50%;
}

#page-report_usercoursereports .course-link {
    font-weight: bold;
    font-size: 16px;
    color: #1a73e8;
    text-decoration: none;
}

#page-report_usercoursereports .course-link:hover {
    text-decoration: underline;
}

#page-report_usercoursereports table td {
    max-width: 400px;
}

/* ----  report-usercoursereports-filter  section ---- */

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field {
    display: block;
    margin-bottom: 0;
    padding-left: 3rem;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .col-form-label {
    padding-left: 15px;
    font-weight: 600;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field .felement {
    width: 100%;
    padding-left: 15px;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field
.form-autocomplete-selection:not(:has([role="option"])) {
    display: none;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field
.form-autocomplete-selection:has([role="option"]) {
    display: block;
}

#page-report_usercoursereports .report-usercoursereports-filter .filter-buttons {
    padding-left: 3rem;
}

#page-report_usercoursereports #report-usercoursereports-filter-area {
    position: relative;
}

#page-report_usercoursereports #report-usercoursereports-filter-area #filter-loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media (max-width: 767px) {
    #page-report_usercoursereports .report-usercoursereports-filter .filter-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0 1rem;
    }

    #page-report_usercoursereports .report-usercoursereports-filter .filter-grid .usercoursereports-filter-field {
        padding-left: 0;
    }
}

/* ---- usercoursereports-single-search */
#page-report_usercoursereports #usercoursereports-single-search .form-autocomplete-selection {
    display: none;
}

#page-report_usercoursereports #usercoursereports-single-search #fitem_id_id {
    margin: 0;
}

/* ---- singlecoursedetails section ---- */
#page-report_usercoursereports .singlecoursedetails .collapsed-summary {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

#page-report_usercoursereports .singlecoursedetails .collapsed-summary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to top, white, transparent);
}

#page-report_usercoursereports .singlecoursedetails .coursedetail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

#page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item {
    border: 1px solid #dee2e6;
    border-left: none;
    border-top: none;
}

#page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item:nth-child(odd) {
    border-left: 1px solid #dee2e6;
}

#page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item:first-child,
#page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item:nth-child(2) {
    border-top: 1px solid #dee2e6;
}

#page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item strong {
    display: inline-block;
    margin-right: .3rem;
    font-weight: 600;
}


@media (max-width: 767.98px) {
    #page-report_usercoursereports .singlecoursedetails .coursedetail-grid {
        grid-template-columns: 1fr;
    }

    #page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item {
        border-left: 1px solid #dee2e6;
    }

    #page-report_usercoursereports .singlecoursedetails .coursedetail-grid .list-group-item:nth-child(odd) {
        border-left: 1px solid #dee2e6;
    }
}