{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_usercoursereports/singlecoursedetails

}}

<div class="card shadow-lg rounded-3 singlecoursedetails mt-4" courseid="{{courseinfo.id}}">
    <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
        <h2 class="mb-0">{{courseinfo.fullname}} </h2>
    </div>

    <div class="card-body">
        <div class="row g-4">

            <div class="col-md-4">
                <div class="course-thumbnail-wrapper position-relative overflow-hidden rounded shadow-sm" style="width:100%; height:250px;">
                    <img src="{{courseinfo.thumbnail_link}}" 
                         alt="{{courseinfo.fullname}}" 
                         class="img-fluid w-100 h-100" style="object-fit: cover;">
                </div>
                
                 <div class="mt-4">
                    <h4><i class="fa fa-users-cog text-primary"></i><span class="ml-2">{{#str}} enrolmentmethods,report_usercoursereports {{/str}}</span></h4>
                    <ul class="list-unstyled ms-2">
                        {{#courseinfo.enrollment_methods}}
                            <li class="d-flex align-items-center mb-2">
                                <span class="me-2 px-3 py-2">
                                    <strong>{{name}}:</strong>
                                    <span>{{rolename}}</span>
                                    {{#cost}}
                                        <span class="badge bg-success text-white p-2" data-type="costwrapper">
                                            <span data-type="currency">{{currency}}</span> 
                                            <span data-type="cost">{{cost}}</span> 
                                        </span>
                                    {{/cost}}
                                </span>
                            </li>
                        {{/courseinfo.enrollment_methods}}
                        {{^courseinfo.enrollment_methods}}
                            <li class="text-muted">{{#str}} no_enrollment_methods,report_usercoursereports {{/str}}</li>
                        {{/courseinfo.enrollment_methods}}
                    </ul>
                </div>

                <div class="mt-4">
                    <h4><i class="fa fa-layer-group text-primary"></i><span class="ml-2">{{#str}} groups {{/str}}</span></h4>
                    <ul class="list-inline">
                        {{#courseinfo.groups}}
                            <li class="list-inline-item badge bg-secondary px-3 py-2 m-1">{{name}}</li>
                        {{/courseinfo.groups}}
                        {{^courseinfo.groups}}
                            <li class="text-muted">{{#str}} nogroupsdefined,report_usercoursereports {{/str}}</li>
                        {{/courseinfo.groups}}
                    </ul>

                </div>
               
            </div>

            <div class="col-md-8">
                <h4><i class="fa fa-book text-primary"></i><span class="ml-2">{{#str}} coursedetails {{/str}}</span></h4>
                <ul class="list-group list-group-flush coursedetail-grid">
                    <li class="list-group-item">
                        <strong>{{#str}} fullnamecourse {{/str}}:</strong> 
                        <span><a href="{{courseinfo.course_link}}"><span>{{courseinfo.fullname}}</span></a></span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} shortnamecourse {{/str}}:</strong>
                        <span>{{courseinfo.shortname}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} coursecategory {{/str}}:</strong> 
                        <span><a href="{{courseinfo.category_link}}"><span>{{courseinfo.category_name}}</span></a></span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} coursevisibility {{/str}}:</strong> 
                        <span>
                        {{#courseinfo.visible}}
                            <span class="badge bg-success text-white p-2">{{#str}} show {{/str}}</span>
                        {{/courseinfo.visible}}
                        {{^courseinfo.visible}}
                            <span class="badge bg-danger text-white p-2">{{#str}} hide {{/str}}</span>
                        {{/courseinfo.visible}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} type_format,plugin {{/str}}:</strong>
                        <span>{{courseinfo.course_formatname}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} groupmode,group {{/str}}:</strong>
                        <span>{{courseinfo.groupmode}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} completion,completion {{/str}}:</strong>
                        <span>
                        {{#courseinfo.enablecompletion}}
                            <span class="badge bg-success text-white p-2">{{#str}} yes {{/str}}</span>
                        {{/courseinfo.enablecompletion}}
                        {{^courseinfo.enablecompletion}}
                            <span class="badge bg-danger text-white p-2">{{#str}} no {{/str}}</span>
                        {{/courseinfo.enablecompletion}}
                        </span>
                    </li>
                    {{#courseinfo.course_customfields}}
                        <li class="list-group-item">
                            <strong>{{name}}:</strong>
                            <span>{{value}}</span>
                        </li>
                    {{/courseinfo.course_customfields}}
                    <li class="list-group-item">
                        <strong>{{#str}} maximumupload {{/str}}:</strong>
                        <span>{{courseinfo.maxbytes}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} startdate {{/str}}:</strong>
                        <span>{{courseinfo.course_startdate}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} enddate {{/str}}:</strong>
                        <span>{{courseinfo.course_enddate}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} createddate,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.course_timecreated}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} modifieddate,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.course_timemodified}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} totalparticipants,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.count_enrolled_users}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} totalactiveparticipants,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.count_enrolled_users}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} totalcoursesections,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.total_sections}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>{{#str}} totalcourseactivities,report_usercoursereports {{/str}}:</strong>
                        <span>{{courseinfo.count_activities}}</span>
                    </li>
                </ul>
            </div>


        </div>
        
        <div class="mt-4">
            <h4><i class="fa fa-info-circle me-2 text-primary"></i><span class="ml-2">{{#str}} coursesummary {{/str}}</span></h4>
        
                <div class="course-summary mt-3 text-muted collapsed-summary">
                <p>{{{courseinfo.summary}}}</p>
            </div>
            
            <button type="button" class="btn btn-primary readmore-btn d-none">
                {{#str}} readmore,report_usercoursereports {{/str}}
            </button>
        </div>

       
    </div>
</div>


<div class="card shadow-lg rounded-3 singlecourseparticipation mt-4">
    <div class="card-body">
        {{{filtercourseusers}}}
        {{{enrolleduserTable}}}
    </div>
</div>

